html {
    font-size: 10px;
    font-family: 'Barlow', Helvetica, sans-serif;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

header {
    width: 100%;
    background: rgba(#000000, .24);
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 600;
    color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}