.hero {
    height: 100vh;
    // overflow: hidden;
    position: relative;

    .swiper {
        width: 600px;
        height: 300px;
        margin-bottom: 20rem;
    }

    .top-row {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 10rem;
        z-index: 2;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        .left-part {
            @media (max-width: 768px) {
                margin-top: 4rem;
                order: 4;
                width: 100%;
            }
        }

        .telephone,
        .mail,
        .language {
            font-size: 1.4rem;
            color: #ffffff;
            font-weight: 600;
            margin-right: 2.5rem;
            text-decoration: none;

            .label {
                color: rgba(#ffffff, .56);
            }
        }

        .logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);

            @media (max-width: 768px) {
                position: static;
                transform: none;
            }
        }

        .right-part {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }

    .hero-slider {
        height: 100%;
        color: #ffffff;
        overflow: hidden;

        .swiper-pagination {
            position: absolute;
            bottom: 20rem;
            width: 80%;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #ffffff;
                position: absolute;
                z-index: -1;
                opacity: .16;
            }

            .swiper-pagination-bullet {
                padding: 2.1rem 4rem 2.5rem;
                background: #ffffff;
                display: block;
                color: #000000;
                font-weight: 700;
                font-size: 1.4rem;
                width: max-content;
                height: max-content;
                border-radius: 32px;
                opacity: 1;
                margin: 0;

                &:not(.swiper-pagination-bullet-active) {
                    width: .8rem;
                    height: .8rem;
                    padding: 0;
                    border-radius: 100%;
                    overflow: hidden;
                    color: #ffffff;

                }
            }

        }
    }

    .slide-wrapper {
        padding-top: 30vh;
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 11vh;
        position: relative;

        .background-image {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -5;
        }

        .slide-wrapper-inner {
            width: 80%;
            margin: 0 auto;
        }

        .subtitle {
            font-weight: 700;
            font-size: 4rem;
            text-transform: uppercase;

            @media (max-width: 768px) {
                font-size: 3.2rem;
            }
        }

        .title {
            font-weight: 400;
            font-size: 7.2rem;
            margin-bottom: 3rem;

            @media (max-width: 768px) {
                font-size: 4.2rem;
            }
        }

        .text {
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 3rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 1.4rem;
                font-weight: 500;
                display: flex;
                gap: 1.5rem;
                align-items: center;
                margin-bottom: 1.8rem;

                &:before {
                    content: '';
                    display: block;
                    background-image: url('../dist/img/tick.svg');
                    height: 2rem;
                    width: 2rem;
                }
            }
        }
    }


}